<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="pull-right">
    <a class="col-sm-1" routerLink="/myProfile"><img class="img-fluid img-circle" src="assets/akash-s.png" alt="Profile"></a>
  </div>
  <div class="h1 text-center">
    Angular 4 Demo App!
    <br>
    <span class="h5">Click on the user profile icon to continue</span>
  </div>
  <hr>
  <br>
  <div class="container">
    <router-outlet>
    </router-outlet>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>